<div class="col-span-3">
    <div class="flex items-center mb-4">
      <select name="sort" id="sort"
        class="rounded-lg h-7 bg-gray-200 w-44 text-sm text-gray-600 px-2 border-gray-300 shadow-sm focus:ring-primary focus:border-primary"
        onchange="updateSortFilter()">
        <option value="">Default sorting</option>
        <option value="price-low-to-high">Price low to high</option>
        <option value="price-high-to-low">Price high to low</option>
      </select>
  </div>
