<div class="col-span-1 bg-white px-4 pb-6 shadow overflow-hidden rounded-lg">
  <div class="divide-y divide-gray-200 space-y-5">
    <h3 class="text-xl text-gray-800 mb-3 font-medium mt-3">Sắp xếp</h3>
    <select name="sort" id="sort"
      class="rounded-lg h-7 bg-gray-200 w-44 text-sm text-gray-600 px-2 border-gray-300 shadow-sm focus:ring-primary focus:border-primary"
      onchange="updateSortFilter()">
      <option value="default-sorting">Mặc định</option>
      <option value="price-low-to-high">Giá tăng dần</option>
      <option value="price-high-to-low">Giá giảm dần</option>
    </select>
  </div>
</div>
