<div id="header" class="z-[2] h-[65px] w-full fixed flex items-center bg-[#984B01] px-[20px] py-[10px] text-white shadow-customY">
    <div id="logo-name" class="flex items-center mr-[100px]">
        <div style="background-image: url('/images/Logo.png')"
         class="logo w-[67px] h-[65px] bg-cover bg-no-repeat rounded-full mr-[10px]"
        ></div>
        <div class="name text-[35px] font-lalezar uppercase pt-[7px]">Tastee</div>
    </div>

    <div id="welcome">
        <div class="text-welcome1 text-[22px] uppercase font-lalezar">Mừng bạn trở lại!</div>
        <div class="text-welcome2 text-[17px] font-roboto-condensed">Cùng xem lại sơ lược ngày hôm nay của nhà hàng nào!!</div>
    </div>

    <div id="search-box" class="relative w-full max-w-[345px] border-2 border-solid border-white ml-[100px]">
        <input type="text" placeholder="Tìm kiếm" class="search-input w-[85%] border-0 outline-0 bg-transparent px-[15px] py-[10px] text-[18px] font-roboto-condensed text-white placeholder-white placeholder-opacity-70">
        <button class="search-button bg-transparent border-0 text-[20px] p-[10px] cursor-pointer text-white">
            <i class="fa-solid fa-magnifying-glass"></i>  
        </button>
      </div>

    <div id="notification">
        <button class="noti-btn bg-transparent border-0 text-white text-[25px] ml-[100px] cursor-pointer">
            <i class="fa-solid fa-bell"></i>
        </button>
    </div>

    <div id="account" class="ml-[50px] flex">
        <div class="avatar w-[40px] h-[40px] mt-[4px] text-[25px] px-[9px] py-[1px] border-[1px] border-solid rounded-full">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="name-role ml-[7px]">
            <div class="name text-[17px] font-lalezar capitalize">
                Nguyễn Mỹ
            </div>

            <div class="role text-[17px] font-roboto-condensed capitalize">
                Admin
            </div>
        </div>
    </div>
</div>