<!DOCTYPE html>
<html lang="en" class="scroll-smooth font-sans">
<head>
    <link id="favicon" rel="icon" type="image/png" href="/images/shop_icon.ico">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="referrer" content="always" />
    <meta name="description" content="TailwindCSS Ecommerce Template" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</head>

<body>
    <div>
        <!-- #region Header -->
        <%- include('admin_header') %>
        <!-- #endregion Header -->

        <!-- #region Sidebar -->
        <%- include('admin_sidebar') %>
        <!-- #endregion Sidebar -->

        <%- content %>

    </div>

    <script>
        // Lấy các phần tử liên quan
        const checkBox = document.getElementById('check');
        const btn = document.getElementById('btn');
        const cancel = document.getElementById('cancel');
        const sidebarMenu = document.getElementById('sidebar-menu');

        // Hàm khi checkbox được checked
        function toggleSidebar() {
            // Kiểm tra xem checkbox có đang checked hay không
            if (checkBox.checked) {
                // Nếu checked, mở sidebar và hiển thị icon xmark
                sidebarMenu.style.left = '0px';
                cancel.style.left = '215px'; // Di chuyển icon xmark
                btn.style.left = '250px';
                btn.style.opacity = '0';  // Ẩn icon bars
                btn.style.pointerEvents = 'none';  // Tắt sự kiện của btn khi sidebar mở
            } else {
                // Nếu không checked, đóng sidebar và hiển thị lại icon bars
                sidebarMenu.style.left = '-250px';
                cancel.style.left = '-215px'; // Di chuyển icon xmark ra ngoài
                btn.style.left = '40px';
                btn.style.opacity = '1';  // Hiển thị lại icon bars
                btn.style.pointerEvents = 'auto';  // Bật sự kiện của btn khi sidebar đóng
            }
        }

        // Thêm sự kiện thay đổi cho checkbox
        checkBox.addEventListener('change', toggleSidebar);
    </script>
</body>
</html>